
/* line 373, ../scss/default.scss */
pre {
  font-family: 'Inconsolata', 'Courier New', monospace;
  font-size: 20px;
  line-height: 28px;
  padding: 0px 0 10px 60px;
  letter-spacing: -1px;
  margin-bottom: 0px;
  width: 106%;
  left: -60px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*overflow: hidden;*/
}

code {
font-size: 100%;
font-family: "Source Code Pro", monospace;
color: 
darkRed;
background-color: 
seaShell;
}



